$primary: #93143A;
$secondary:  #22234F;
$bg: #fbf9f9;
$text-dark: #1D1D1F;
$text-light: #fff;

$text-sm: 1rem;
$text-md: 1.4rem;
$text-lg: 2.4rem;
$text-xl: 4.8rem;

$padding-xs: 10px;
$padding-sm: 20px;
$padding-md: 40px;
$padding-lg: 60px;

$border-radius: 4px;

$overlay-light: rgba(0, 0, 0, 0.333);
$overlay-dark: rgba(0,0,0, .667);

$cubic-bezier: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$animation-fast: all .2s $cubic-bezier;
$animation-slow: all .667s $cubic-bezier;

