$primary: #93143A;
$secondary:  #22234F;
$bg: #f9f9f9;
$text-dark: #1D1D1F;
$text-light: #fff;

$text-sm: 1rem;
$text-md: 1.5rem;
$text-lg: 2.5rem;
$text-xl: 5rem;

$padding-sm: 20px;
$padding-md: 40px;
$padding-lg: 60px;