@import './variables';

/* Global reset for cross-browser consistency */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Arial', sans-serif; /* Set a universal font */
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit; /* Make links inherit text color */
  animation: cubic-bezier(0.895, 0.03, 0.685, 0.22)
}

ul, ol {
  list-style: none; /* Remove list bullets */
}

table {
  border-collapse: collapse; /* Remove table spacing */
  width: 100%; /* Make tables expand to full width */
}

img {
  max-width: 100%; /* Ensure images are responsive */
}

button,
input,
textarea {
  font: inherit; /* Ensure form elements inherit the font */
  background: none; /* Remove background for inputs */
  border: none; /* Remove borders from inputs */
  outline: none; /* Remove focus outline */
}

html {
  scroll-behavior: smooth; /* Optional: Smooth scrolling */
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
}

h2 {
  font-size: $text-lg;
  text-align: center;
  color: $text-dark;
  text-transform: uppercase;
}

h3 {
  font-size: $text-md;
  color: $text-dark;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  line-height: 1.5;
  font-size: $text-md;
  color: lighten($text-dark, 50%);
  font-weight: lighter;
}

button.button,
a.button {
  text-transform: uppercase;
  padding: $padding-xs $padding-sm;
  font-size: $text-sm;
  font-weight: bold;
  color: $text-light;
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: $border-radius;
  cursor: pointer;
  transition: $animation-fast;
  width: fit-content;

  &:hover {
    background-color: darken($primary, 10%); /* Darker color on hover */
    border: 1px solid darken($primary, 10%);
  }

  &--alt {
    background-color: transparent;
    border: 1px solid $text-light;

    &:hover {
      background-color: $primary;
    }
  }

  &--secondary {
    background-color: $secondary;
    border: 1px solid $secondary;

    &:hover {
      background-color: darken($secondary, 10%); /* Darker color on hover */
      border: 1px solid darken($secondary, 10%);
    }
  }
}

label {
  display: block;
  font-weight: bold;
  color: $text-dark;
  text-transform: uppercase;
}

input,
textarea,
select {
  width: 100%;
  padding: $padding-xs;
  border-radius: $border-radius;
  background-color: darken($bg, 5%);
  font-size: $text-sm;
  font-weight: 200;
}

select {
  border: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

form .error {
  margin-top: $padding-xs;
  color: $primary;
  font-size: $text-sm;
}

fieldset {
  border: none;
  padding: 0;

  legend {
    display: block;
    font-weight: bold;
    color: $text-dark;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: $padding-xs;
  }

  label {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $padding-xs;
    font-weight: normal;

    input[type="checkbox"],
    input[type="radio"] {
      width: fit-content;
      margin-right: $padding-xs;
    }
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: $text-md;
  }

  p {
    font-size: $text-sm;
  }

  button.button,
  a.button {
    font-size: $text-sm;
  }
}