@import '../../styles/variables';

.contact-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  min-height: calc(100vh - 86.5px);
  gap: $padding-md;

  &.margin {
    margin-top: 86.5px;
  }

  p {
    text-align: center;
    margin: $padding-md 0;
  }
  

  &__image {
    position: relative;
    flex: 1;
    background-color: $bg;
  }

  &__form {
    flex: 1;
    padding: $padding-lg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $text-light;

    form {
      display: flex;
      flex-direction: column;
    }

    .form-group {
      margin-bottom: $padding-md;
    }
  }
}

@media (max-width: 1228px) {
  .contact-container {
    min-height: initial;

    p {
      margin: $padding-sm 0;
    }
  }

  .contact-container__form {
    padding: $padding-sm;
  }
}

@media (max-width: 1080px) {
  .contact-container {
    &__image {
      display: none;
    }
  }
}
