@import '../../styles/variables';

.centered-cta {
  width: 100%;
  height: calc(100vh - 86.5px); /* Full screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $padding-lg;
  position: relative;
  background-color: $bg;
  color: $text-dark;


  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
    gap: $padding-md;
    max-width: 960px;
  }
}

@media (max-width: 1228px) {
  .centered-cta {
    height: calc(100vh - 71.5px); /* Full screen height */
  }
}

@media (max-width: 768px) {
  .centered-cta {
    height: fit-content;
    
    &__title {
      font-size: $text-md;
    }

    &__subtitle {
      font-size: $text-sm;
    }

    &__button {
      font-size: $text-sm;
    }
  }
}

@media (max-width: 600px) {
  .centered-cta {
    padding: $padding-md;
  }
}
