@import '../../styles/variables';

.feature-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: fit-content;
  text-align: center;
  padding: $padding-lg;
  background-color: $bg;
  box-sizing: border-box;
  gap: $padding-md;

  .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: $padding-md;
    width: 100%;
  }

  .empty {
    width: 100%;
    text-align: center;
  }

  .box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(33% - 22px);
    min-height: fit-content;
    background-color: $text-light;
    border-radius: $border-radius;
    padding: $padding-md;
    text-align: left;
    gap: $padding-xs;
    overflow: hidden;
    background-size: cover;
    cursor: pointer;

    &.has-background {
      min-height: 320px;
      padding: $padding-sm;
    }

    p:has(svg) {
      display: flex;
      gap: $padding-xs;
      align-items: center;
    }

    &:has(.box-overlay) h3,
    &:has(.box-overlay) p {
      color: $text-light;
      z-index: 1;
    }

    .box-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.333);
    }

    .icon {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 1228px) {
  .feature-boxes {
    padding: $padding-sm;
    gap: $padding-sm;

    .box-container {
      gap: $padding-sm;
    }

    .box {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .feature-boxes .box {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}