@import '../../styles/variables';

.feature-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: fit-content;
  text-align: center;
  padding: $padding-lg;
  background-color: $bg;
  box-sizing: border-box;

  .heading {
    font-size: $text-lg;
    margin-bottom:$padding-md;
    color: $text-dark;
    text-transform: uppercase;
  }

  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: $padding-md;
  }

  .box {
    width: calc(33% - 25px); // Adjust to fit 3 boxes per row
    background-color: #fff;
    // border: 1px solid $primary;
    border-radius: 3px;
    padding: $padding-md;
    text-align: left;

    .icon {
      font-size: $text-lg;
      margin-bottom: $padding-md;
      // color: #007BFF;
      color: $primary;
    }

    .box-title {
      font-size: $text-md;
      margin-bottom: $padding-sm;
      color: $text-dark;
      font-weight: bold;
      text-transform: uppercase;
    }

    .box-text {
      font-size:$text-sm;
      color: $text-dark;
    }
  }

  @media (max-width: 768px) {
    // .feat.box {
    //   width: 45%; // Adjust to fit 2 boxes per row on smaller screens
    // }
  }


}

@media (max-width: 1180px) {
  .feature-boxes {
    padding: $padding-sm;

    .box-container {
      gap: $padding-sm;
    }

    .box {
      width: calc(50% - 15px); 
    }
  }
}
@media (max-width: 480px) {
  .feature-boxes .box {
    width: 100%; // Adjust to fit 1 box per row on very small screens
  }
}