@import '../../styles/variables';

.feature-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: fit-content;
  text-align: center;
  padding: $padding-lg;
  background-color: $bg;
  box-sizing: border-box;
  gap: $padding-md;

  .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: $padding-md;
    width: 100%;
  }

  .box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(33% - 25px);
    min-height: 300px;
    background-color: $text-light;
    border-radius: $border-radius;
    padding: $padding-md;
    text-align: left;
    gap: $padding-sm;
    overflow: hidden;

    &:has(.box-overlay) h3,
    &:has(.box-overlay) p {
      color: $text-light;
      z-index: 1;
    }

    .box-overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.33);
    }

    .icon {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 1228px) {
  .feature-boxes {
    padding: $padding-sm;
    gap: $padding-sm;

    .box-container {
      gap: $padding-sm;
    }

    .box {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .feature-boxes .box {
    text-align: center;
  }
}