@import '../../styles/variables';

.google-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $bg;
  height: calc(100vh - 86.5px);
  position: relative;
  padding: $padding-md 0 0 0;

  &__heading {
    margin-bottom: $padding-sm;
    span {
      color: $primary;
    }
  }

  iframe {
    position: relative;
    border: none;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

@media (max-width: 1228px) {
  .google-map {
    height: calc(100vh - 71.5px);
    padding: $padding-sm 0 0 0;
  }
}