@import '../../styles/variables';

/* src/app/components/Header.module.scss */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: $padding-xs $padding-lg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
  z-index: 1000;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    img {
      height: 60px;
      min-width: 233px; // keeps ratio
      filter: brightness(0) invert(1); // makes it white
      transition: all 0.2s ease-in-out;

      &.scrolled {
        filter: initial;
      }
    }
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $padding-md;

    @media (max-width: 1180px) {
      display: none; // Hide the nav by default on smaller screens
    }
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: $padding-md;
    text-transform: uppercase;

    &.scrolled a {
      color: $text-dark;
    }
  }

  .nav-links li {
    color: $text-light;
  }

  .nav-links li.active a {
    color: $primary;
  }

  .nav-links a {
    text-decoration: none;
    font-weight: bold;
    font-size: $text-sm;
    transition: color 0.2s ease-in-out;
    color: $text-light;

    &:hover {
      color: $primary;
    }
  }

  .contact-link,
  .address-link {
    color: $text-dark;
    font-size: $text-sm;
    transition: color 0.2s ease-in-out;
    color: $text-light;
    position: relative;
    display: flex;

    &.scrolled {
      color: $text-dark;
    }

    &:hover {
      color: $primary;
    }
  }

  .contact-button {
    background-color: $primary;
    color: $text-light;
    font-size: $text-sm;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: darken($primary, 5%);
    }
  }

  /* Scroll effect */
  &.scrolled {
    background-color: white;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);

    .hamburger svg {
      color: $text-dark;
    }

    .hamburger svg.mobile,
    .menu-overlay svg.mobile {
      color: $text-light;
    }
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001;

    @media (max-width: 1180px) {
      display: block;

      svg {
        color: $text-light;
        height: 30px;
        width: 30px;
      }
    }
  }

  .menu-overlay {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #93143A 50%, rgba(0, 0, 0, 0));
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideDown .5s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;

    .icon-wrapper {
      margin-top: $padding-md;
      border: 1px solid $text-light;
      padding: $padding-xs $padding-sm;
      border-radius: 4px;
      // border-radius: 999px;
      svg {
        height: 30px;
        width: 30px;
      }
    }

    .address-link svg {
      margin-top: 4px;
    }
    .mobile-buttons {
      display: flex;
      gap: $padding-md;
      opacity: 0;
      transform: translateY(-50px);
      animation:fadeIn .3s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
      animation-delay: 0.6s;
    }

    .overlay-nav {
      list-style: none;
      text-align: center;
      margin-top: $padding-lg;
      display: flex;
      flex-direction: column;
      gap: $padding-md;

      li a {
        display: block;
        text-decoration: none;
        color: $text-light;
        font-size: $text-md;
        text-transform: uppercase;
        opacity: 0;
        transform: translateY(-50px);
        animation:fadeIn .3s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;

        &:hover {
          color: $primary;
        }
      }

      @for $i from 1 through 10 {
        li:nth-child(#{$i}) a {
          animation-delay: calc(0.4s + 0.05s * ($i - 1));
        }
      }
    }
  }
}

.tooltip {
  position: absolute;
  background-color: $primary;
  top: 100%;
  right: 0;
  color: #fff;
  padding: 8px 16px;
  font-size: $text-sm;
  border-radius: 3px;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
  z-index: 10;
}

.icon-wrapper {
  position: relative;

  &:hover .tooltip {
    opacity: 1;
    transform: translateY(15px);
  }
}

.main-nav.open .hamburger svg {
  color: $text-light;
}

@media (max-width: 1180px) {
  .header {
    padding: $padding-xs $padding-sm;
    .nav-links {
      display: none; // Hide default nav on small screens
    }
  }
}

@media (max-width: 600px) {
  .header {
    .logo img {
      height: 45px;
      min-width: initial;
    }
  }
}


@keyframes slideDown {
  100% {
    top: 0;
  }
}

@keyframes fadeIn {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}