@import '../../styles/variables';

.slideshow {
  display: flex;
  align-items: center;
  // gap: $padding-md;
  position: relative;
  height: calc(100vh - 86.5px);
  margin-top: 86.5px;
  // padding: 1rem;

  .arrow {
    fill: $text-dark;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    &:hover {
      fill: $primary;
    }
  }

  .main-image {
    width: 66.666%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right-section {
    width: 33.333%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $padding-lg;

    .gallery {
      display: flex;
      flex-direction: column;

      .gallery-image {
        flex: 1;
        cursor: pointer;

        img {
          width: 100px;
          height: 100px;
          object-fit: cover;
          border-radius: 3px;
          padding: 5px;
          transition: transform 0.2s, border-color 0.2s;

          &:hover {
            transform: scale(1.05);
          }
        }

      }

      .gallery-image.active img {
        border: 2px solid $primary;
        // opacity: 0.8;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: $padding-md;

      h2 {
        font-size: $text-lg;
        text-transform: uppercase;
      }

      p {
        font-size: $text-md;
        color: $text-dark;
      }
    }

    .arrows {
      display: flex;
      gap: $padding-md;
    }
  }
}

@media (max-width: 960px) {
  .slideshow {
    flex-direction: column;

    .main-image {
      width: 100%;
      height: calc(50vh - 35.75px);
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .right-section {
      width: 100%;
      padding: $padding-sm;
      height: calc(50vh - 35.75px);
  
      .gallery {
        display: flex;
        flex-direction: row;
        width: fit-content;
      }

      .description {
        gap: $padding-sm;
      }
    }
  }
}

@media (max-width: 600px) {
  .slideshow {
    min-height: calc(100vh - 71.5px);
    margin-top: 71.5px;

    .right-section .description {
      h2 {
        font-size: $text-md;
      }

      p {
        font-size: $text-sm;
      }
    }

    .right-section .arrows {
      gap: $padding-sm;
    }
  }
}