
@import '../../styles/variables';
.two-column-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $padding-md;
  height: calc(100vh - 86.5px);
  margin-top: 86.5px;

  .image-column {
    height: 100%;
    flex: 1;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-column {
    flex: 1;
    padding: $padding-md;

    h1 {
      font-size:$text-lg;
      margin-bottom: $padding-md;
      color: $text-dark;
      text-transform: uppercase;
    }

    p {
      font-size:$text-md;
      color: $text-dark;
    }
  }

  // Responsive design for smaller screens
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    .image-column,
    .text-column {
      flex: none;
      width: 100%;
    }

    .image-column {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 960px) {
  .two-column-layout {
    .image-column {
      display: none;
    }

    .text-column {      
      h1 {
        text-align: center;
      }
  
      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 600px) {
  .two-column-layout {
    min-height: calc(100vh - 71.5px);
  }
}